<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Document</title>
  <link href="/static/css/solarized-light.css" rel="stylesheet">
  <link href="/static/css/embed.css" rel="stylesheet">
</head>
<body>
<div class="panel">
  <pre><code>{{rec.content}}</code></pre>
  <div class="meta">
    <a href="/raw/{{key}}/{{rec.title}}" style="float:right">view raw</a>
    <a href="">{{rec.title}}</a>
    hosted with ❤ by <a href="https://blog.fun4go.top">番茄瓜皮</a>
  </div>
</div>
</body>
<script src="/static/js/highlight.pack.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.7.0/highlightjs-line-numbers.min.js"></script>
<script>
  hljs.initHighlightingOnLoad();
  hljs.initLineNumbersOnLoad();
</script>
</html>