<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>{{rec.title}} · Fun4Paste</title>
  <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet">
  <link href="/static/css/solarized-light.css" rel="stylesheet">
  <link href="/static/css/custom.css" rel="stylesheet">
  <link href="/static/css/embed.css" rel="stylesheet">
</head>

<body class="Site">
<!-- header -->
<div class="ui large top menu">
  <div class="ui container">
    <div class="item">
      <img alt="" src="https://gofun4-pic.oss-cn-hangzhou.aliyuncs.com/18-8-29/83907422.jpg">
    </div>
    <a class="item" href="/">Fun4Paste</a>
    <div class="right menu">
      <div class="item">
        <a class="ui primary button" href="https://github.com/fun4wut/naive-pastebin">Fork me</a>
      </div>
      <div class="item">
        <a class="ui button" href="https://blog.fun4go.top">My Blog</a>
      </div>
    </div>
  </div>
</div>

<div class="ui container Site-content">
  <h1 class="ui header">{{rec.title}}</h1>
  <h4 class="ui header">Iframe Embedding (you can set the frame height by adding the CSS value 'height:100px;' for
    example)</h4>
  <div class="ui action input fluid" style="margin-bottom: 30px">
    <input
      readonly
      type="text"
      value='<iframe src="http://{{domain}}/embed_iframe/{{key}}" style="border:none;width:100%"></iframe>'
    >
    <button class="ui teal right labeled icon button" id="btn">
      <i class="copy icon"></i>
      Copy
    </button>
  </div>
  <div class="ui positive message hidden" id="copymsg">
    <i class="close icon"></i>
    <div class="header">Successful copy!</div>
    <p>Now you can <b>embed your code</b>into your site</p>
  </div>
  <div class="panel">
    <pre><code>{{rec.content}}</code></pre>
    <div class="meta">
      <a href="/raw/{{key}}/{{rec.title}}" style="float:right">view raw</a>
      <a href="">{{rec.title}}</a>
      hosted with ❤ by <a href="https://blog.fun4go.top">番茄瓜皮</a>
    </div>
  </div>
</div>

<!--footer-->
<footer class="ui inverted vertical footer segment" style="margin-top: 20px">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a class="item" href="https://github.com/fun4wut">GitHub</a>
          <a class="item" href="https://blog.fun4go.top">Blog</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Extra</h4>
        <p>@2019 Fun4wut</p>
      </div>
    </div>
  </div>
</footer>


</body>
<script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="/static/js/highlight.pack.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.7.0/highlightjs-line-numbers.min.js"></script>
<script>
  hljs.initHighlightingOnLoad();
  hljs.initLineNumbersOnLoad();
  $("#btn").click(() => {
    $("input").select();
    if (document.execCommand("copy")) {
      $("#copymsg").removeClass("hidden")
    }
  });
  $('.message .close')
    .on('click', function () {
      $(this)
        .closest('.message')
        .transition('fade');
    });
</script>
</html>